<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
            color: rgb(102, 102, 102);
            font-family: "Roboto";
            font-size: 1em;
            font-weight: 400;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <noscript>
  <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
    Please enable it to continue.</strong>
</noscript>
    <web-app minify-url="https://api.codref.org/function/terminal/v1/url/minify" base-url="http://localhost:8080/"></web-app>
    <!-- built files will be auto injected -->
</body>

</html>