<template>
  <section>
    <div class="intro-text">
      You can now use your private key to decrypt some data. Insert the
      encrypted text into the below textbox and click the Decrypt button. The
      encrypted text will be replaced with the plain one and will be visible to
      anybody passing by and looking at your monitor; most probably you won't do
      this during a desktop sharing session too!
    </div>
    <b-collapse
      :open="false"
      class="card"
      animation="slide"
      aria-id="encryptIdenties"
    >
      <template #trigger="props">
        <div class="card-header" role="button" aria-controls="encryptIdenties">
          <p class="card-header-title">
            Decrypting message using {{ firstIdentity }}
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
          </a>
        </div>
      </template>

      <div class="card-content">
        <div class="content">
          <public-key-identity-panel :publicKey="activeKeysStore.privateKey" />
        </div>
      </div>
    </b-collapse>
    <div class="plain-message-container">
      <b-tabs :animated="false" v-model="activeMessageTab">
        <b-tab-item label="Encrypted">
          <b-field
            label="Copy here the encrypted PGP message"
            label-position="on-border"
          >
            <b-input
              v-model="encryptedMessage"
              type="textarea"
              placeholder="Paste here your encrypted PGP message (starts with -----BEGIN PGP MESSAGE-----)"
              expanded
            ></b-input>
          </b-field>
          <div class="is-expanded">
            <b-upload
              v-model="loadedEncryptedFile"
              @input="onLoadEncryptedFileClick"
            >
              <b-tooltip
                label="Load a PGP encrypted message from file"
                position="is-right"
              >
                <a
                  :class="`button is-pulled-left ${
                    loading ? 'is-loading' : ''
                  }`"
                  >Load encrypted message from file</a
                >
              </b-tooltip>
            </b-upload>
            <b-tooltip
              :active="activeKeysStore.privateKey == null"
              class="is-pulled-right"
              label="No private key loaded"
              position="is-left"
            >
              <b-button
                :disabled="
                  !encryptedMessage != '' || activeKeysStore.privateKey == null
                "
                v-on:click="passwordDialogActive = true"
                type="is-primary"
                :loading="loading"
              >
                Decrypt
              </b-button></b-tooltip
            >
          </div>
        </b-tab-item>
        <b-tab-item
          :label="`Plain message ${timeleft > 0 ? '(' + timeleft + ')' : ''}`"
        >
          <b-field label="Message" label-position="on-border">
            <b-input
              v-model="plainTextMessage"
              type="textarea"
              ref="plainTextMessage"
              readonly
              expanded
            ></b-input>
          </b-field>
          <div class="buttons has-addons is-right">
            <b-button
              :disabled="!(plainTextMessage != '')"
              @click="copyToClipboard($refs.plainTextMessage.$el)"
              >Copy</b-button
            >
            <b-button
              :disabled="!(plainTextMessage != '')"
              @click="onDownloadClick"
              >Download</b-button
            >
          </div>
        </b-tab-item>
      </b-tabs>
    </div>
    <b-modal
      v-model="passwordDialogActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="true"
      aria-role="dialog"
      aria-label="Password"
      aria-modal
    >
      <template #default="props">
        <div class="modal-card" style="width: auto; min-width: 600px">
          <header class="modal-card-head">
            <p class="modal-card-title">Key password</p>
            <button type="button" class="delete" @click="props.close" />
          </header>
          <section class="modal-card-body">
            <b-field label="Password" label-position="on-border">
              <b-input v-model="password" type="password" password-reveal>
              </b-input>
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="props.close" />
            <b-button label="Decrypt" type="is-primary" @click="decrypt" />
          </footer>
        </div>
      </template>
    </b-modal>
  </section>
</template>

<script>
import * as openpgp from "openpgp"
import PublicKeyIdentityPanel from "./PublicKeyIdentityPanel.vue"
import filesystemMixin from "../mixins/filesystemMixin.js"
import { mapStores } from "pinia"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"

export default {
  name: "DecryptPage",
  mixins: [filesystemMixin],
  props: ["urlEncryptedMessage"],
  components: {
    PublicKeyIdentityPanel,
  },
  data() {
    return {
      timeleft: 0,
      activeMessageTab: 0,
      plainTextMessage: "",
      encryptedMessage: "",
      loadedEncryptedFile: null,
      passwordDialogActive: false,
      password: "",
      loading: false,
    }
  },
  watch: {
    urlEncryptedMessage(message) {
      this.encryptedMessage = message
    },
  },
  computed: {
    ...mapStores(useActiveKeysStore),
    firstIdentity() {
      if (this.activeKeysStore.privateKey !== null) {
        const userId = this.activeKeysStore.privateKey.users[0].userID.userID
        return `${userId != "" ? userId : "(empty)"}`
      }
      return ""
    },
  },
  methods: {
    onLoadEncryptedFileClick() {
      const loadedFileSizeMb = this.loadedEncryptedFile.size / 1024 ** 2
      if (loadedFileSizeMb > 2) {
        this.$emit(
          "notify",
          "The uploaded file exceeds the limit of 2MB.",
          "is-danger"
        )
      } else {
        const reader = new FileReader()
        reader.onload = () => {
          this.encryptedMessage = reader.result
        }
        try {
          this.loading = true
          reader.readAsText(this.loadedEncryptedFile)
        } finally {
          this.loading = false
        }
      }
    },
    onDownloadClick() {
      this.downloadFromBrowser("decrypted-message.txt", this.plainTextMessage)
    },
    async decrypt() {
      var decryptedKey = this.activeKeysStore.privateKey
      if (!this.activeKeysStore.privateKey.isDecrypted()) {
        this.loading = true
        try {
          decryptedKey = await openpgp.decryptKey({
            privateKey: this.activeKeysStore.privateKey,
            passphrase: this.password,
          })
        } catch {
          this.$emit("notify", "Wrong password", "is-warning")
          return
        } finally {
          this.password = "" // remove password from browser memory
          this.loading = false
        }
      }
      this.passwordDialogActive = false
      this.decryptMessage(decryptedKey)
    },
    async decryptMessage(key) {
      // openpgp.config.ignore_mdc_error=true
      // openpgp.config.allow_insecure_decryption_with_signing_keys = true
      this.loading = true
      try {
        var message = await openpgp.readMessage({
          armoredMessage: this.encryptedMessage,
        })
      } catch (e) {
        this.$emit(
          "notify",
          "Error, corrupted message.<br />Please check the encrypted text, it might be truncated.",
          "is-danger"
        )
        console.log(e)
        this.loading = false
        return
      }
      try {
        const { data: decrypted } = await openpgp.decrypt({
          message: message,
          decryptionKeys: [key],
        })
        this.plainTextMessage = decrypted
        this.activeMessageTab = 1
        this.clearPlainTextMessage(120)
      } catch (e) {
        this.$emit(
          "notify",
          "Error while decrypting.<br />Please check the private key.",
          "is-danger"
        )
        console.log(e)
        return
      } finally {
        this.loading = false
      }
    },
    clearPlainTextMessage(seconds) {
      this.timeleft = seconds
      return new Promise((resolve) => {
        var countdownTimer = setInterval(() => {
          this.timeleft--
          if (this.timeleft <= 0) {
            clearInterval(countdownTimer)
            this.plainTextMessage = ""
            resolve(true)
          }
        }, 1000)
      })
    },
  },
}
</script>

<style></style>
