<template>
  <section>
    <textarea
      v-model="encryptedUrl"
      ref="encryptedUrl"
      type="text"
      value=""
      class="hidden-textarea"
    ></textarea>
    <textarea
      v-model="minifiedUrl"
      ref="minifiedUrl"
      type="text"
      value=""
      class="hidden-textarea"
    ></textarea>
    <div class="intro-text">
      You can now use your public key to encrypt some data. Insert some text
      (maybe a secret, like a password) into the below textbox and click the
      Encrypt button. Your plain text will be replaced with the encrypted one,
      so keep a copy of it elsewhere, if you must!
    </div>
    <b-collapse
      :open="false"
      class="card"
      animation="slide"
      aria-id="encryptIdenties"
    >
      <template #trigger="props">
        <div class="card-header" role="button" aria-controls="encryptIdenties">
          <p class="card-header-title">
            Encrypting new message to {{ firstIdentity }}
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
          </a>
        </div>
      </template>

      <div class="card-content">
        <div class="content">
          <public-key-identity-panel :publicKey="activeKeysStore.publicKey" />
        </div>
      </div>
    </b-collapse>
    <div class="plain-message-container">
      <b-tabs :animated="false" v-model="activeMessageTab">
        <b-tab-item
          :label="`Plain message ${timeleft > 0 ? '(' + timeleft + ')' : ''}`"
        >
          <b-field
            :label="`Message ${plainTextMessageSize}`"
            label-position="on-border"
          >
            <b-input
              @focus="selectAll"
              v-model="plainTextMessage"
              type="textarea"
              placeholder="Type here your secret text"
              expanded
            ></b-input>
          </b-field>
          <div class="is-expanded">
            <b-upload v-model="loadedPlainFile" @input="onLoadPlainFileClick">
              <b-tooltip
                label="The loaded file is converted to a UTF-8 message"
                position="is-right"
              >
                <a
                  :class="`button is-pulled-left ${
                    loading ? 'is-loading' : ''
                  }`"
                  >Load plain message from file</a
                >
              </b-tooltip>
            </b-upload>
            <b-tooltip :active="activeKeysStore.publicKey == null" class="is-pulled-right" label="No public key loaded" position="is-left">
              <b-button
                
                :disabled="
                  !(plainTextMessage != '') || activeKeysStore.publicKey == null
                "
                @click="encrypt"
                type="is-primary"
                :loading="loading"
              >
                Encrypt
              </b-button></b-tooltip
            >
          </div>
        </b-tab-item>

        <b-tab-item :label="`Encrypted ${encryptedMessageSize}`">
          <b-notification
            v-if="minifiedUrl != ''"
            type="is-info is-light"
            has-icon
            icon="ghost"
            :closable="false"
          >
            <div>
              <b>{{ minifiedUrl }}</b>
            </div>
            <p>
              The shortened URL will last for 72 hours and will be disposed
              after the first visit, so you should not click it but rather copy
              it and paste on an email.
            </p>
          </b-notification>
          <b-field
            label="Copy and paste this text into a new email/text message"
            label-position="on-border"
          >
            <b-input
              @focus="selectAll"
              v-model="encryptedMessage"
              type="textarea"
              ref="encryptedMessage"
              readonly
              expanded
            ></b-input>
          </b-field>
          <div class="buttons has-addons is-right">
            <b-button
              :disabled="!(encryptedMessage != '')"
              @click="copyToClipboard($refs.encryptedMessage.$el)"
              >Copy</b-button
            >
            <b-button
              :disabled="!(encryptedMessage != '')"
              @click="
                downloadFromBrowser('encrypted-message.asc', encryptedMessage)
              "
              >Download</b-button
            >
            <b-button
              :disabled="!(encryptedUrl != '')"
              @click="copyToClipboard($refs.encryptedUrl)"
              type="is-primary is-light"
              >Copy to Url</b-button
            >
            <b-tooltip
              :label="
                encryptedMessage.length < 100000
                  ? 'Generate a short URL'
                  : 'Message size exceeds the allowed 100K characters'
              "
              position="is-left"
            >
              <b-button
                :disabled="
                  !(encryptedUrl != '' && encryptedMessage.length < 100000)
                "
                @click="getMinifiedUrl"
                type="is-primary"
                >Get Short Url</b-button
              >
            </b-tooltip>
          </div>
          <b-notification
            type="is-info is-light"
            aria-close-label="Close notification"
          >
            <p>
              In case you want to send your encrypted message via email, you can
              click the <b>copy as URL button</b>. The encrypted message will be
              transformed as a valid URL (which can be copied into an email)
              that can then be used to easily decrypt the message via our online
              PGP tool.<br />
              <b
                >Using this method, no data is stored on our server (not even on
                our logs!).</b
              >
            </p>
            <p>
              Since the URL can be quite long (it depends on the lenght of your
              message and key), we provide an <b>URL shortener</b> feature. If
              you press the <b>Get short URL</b> button the encrypted message
              will be temporarily stored on our server (encrypted) and you will
              just have to copy and paste its minified version.
            </p>
            <p>
              <b
                >Shortened URL will espire after 72 hours and they are
                automatically disposed (deleted) after the first usage</b
              >, moreover all the information are kept on volatile memory only
              (this is why you can shorten only messages not exceeding 10k
              characters).
            </p>
          </b-notification>
        </b-tab-item>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import * as openpgp from "openpgp"
import PublicKeyIdentityPanel from "./PublicKeyIdentityPanel.vue"
import filesystemMixin from "../mixins/filesystemMixin.js"
import axios from "axios"
import { mapStores } from "pinia"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"

export default {
  name: "EncryptPage",
  props: ["minifyURL", "baseURL"],
  mixins: [filesystemMixin],
  components: {
    PublicKeyIdentityPanel,
  },
  data() {
    return {
      loadedPlainFile: null,
      timeleft: 0,
      activeMessageTab: 0,
      plainTextMessage: "",
      plainTextMessageSize: "",
      encryptedMessage: "",
      encryptedMessageSize: "",
      encryptedUrl: "",
      minifiedUrl: "",
      loading: false,
    }
  },
  computed: {
    ...mapStores(useActiveKeysStore),
    firstIdentity() {
      if (this.activeKeysStore.publicKey !== null) {
        const userId = this.activeKeysStore.publicKey.users[0].userID.userID
        return `${userId != "" ? userId : "(empty)"}`
      }
      return ""
    },
  },
  watch: {
    encryptedMessage(message) {
      this.encryptedUrl = `${
        this.baseURL !== undefined ? this.baseURL : window.location
      }#decryptMessage=${window.btoa(message)}`
      const len = message.length
      this.encryptedMessageSize = `(${len} characters ~ ${this.formatBytes(
        len,
        2
      )})`
    },
    plainTextMessage(message) {
      const len = message.length
      this.plainTextMessageSize = `(${len} characters ~ ${this.formatBytes(
        len,
        2
      )})`
    },
  },
  methods: {
    selectAll(event) {
      event.target.select()
    },
    onLoadPlainFileClick() {
      const loadedFileSizeMb = this.loadedPlainFile.size / 1024 ** 2
      if (loadedFileSizeMb > 2) {
        this.$emit(
          "notify",
          "The uploaded file exceeds the limit of 2MB.",
          "is-danger"
        )
      } else {
        const reader = new FileReader()
        reader.onload = () => {
          this.plainTextMessage = reader.result
        }
        try {
          this.loading = true
          reader.readAsDataURL(this.loadedPlainFile)
        } finally {
          this.loading = false
        }
      }
    },
    async encrypt() {
      this.loading = true
      try {
        const encrypted = await openpgp.encrypt({
          message: await openpgp.createMessage({
            text: this.plainTextMessage,
            format: "utf8",
          }),
          encryptionKeys: [this.activeKeysStore.publicKey], // for encryption
          // privateKeys: privateKey // for signing (optional)
        })
        this.encryptedMessage = encrypted
        this.activeMessageTab = 1
        this.clearPlainTextMessage(30)
      } catch (exception) {
        this.$emit(
          "notify",
          "Error while encrypting text. Open the console for further details.",
          "is-danger"
        )
        console.log(exception)
      } finally {
        this.loading = false
      }
    },
    clearPlainTextMessage(seconds) {
      this.timeleft = seconds
      return new Promise((resolve) => {
        var countdownTimer = setInterval(() => {
          this.timeleft--
          if (this.timeleft <= 0) {
            clearInterval(countdownTimer)
            this.plainTextMessage = ""
            resolve(true)
          }
        }, 1000)
      })
    },
    async getMinifiedUrl() {
      try {
        const response = await axios.post(this.minifyURL, {
          url: this.encryptedUrl,
        })
        this.minifiedUrl = response.data.minifiedURL
        this.$emit("notify", "Minified URL created", "is-info is-light")
      } catch (error) {
        this.$emit("notify", "Cannot generate a minified URL", "is-danger")
        console.log(error)
      }
    },
  },
}
</script>

<style></style>
