<template>
  <div class="manage-keys-page">
    <b-tabs :animated="false" type="is-toggle" expanded>
      <b-tab-item>
        <template #header>
          <span>
            Create new ECC PGP keys
            <b-tooltip
              label="Better performances and smaller size"
              position="is-right"
            >
              <b-icon icon="information-outline" size="is-small"></b-icon>
            </b-tooltip>
          </span>
        </template>
        <div class="card-content">
          <b-message
            type="is-info"
            size="is-small"
            aria-close-label="Close message"
          >
            PGP protocol requires a pair of keys (usually referred as public key
            and private key to work. Please use below module to generate new
            keys, or paste them in the two boxes above.
          </b-message>
          <b-field grouped>
            <b-field label="Name" label-position="on-border" expanded>
              <b-input v-model="newKeyName"></b-input>
            </b-field>
            <b-field label="Email" label-position="on-border" expanded>
              <b-input v-model="newKeyEmail" type="email"></b-input>
            </b-field>
          </b-field>
          <b-field grouped>
            <b-field
              label="Start Date"
              label-position="on-border"
              message="Leave empty to use creation date/time"
            >
              <b-datetimepicker
                v-model="newKeyDate"
                placeholder="Select a date..."
                icon="calendar-today"
              >
              </b-datetimepicker>
              <p class="control">
                <b-button
                  type="is-light"
                  icon-right="backspace"
                  @click="newKeyDate = null"
                />
              </p>
            </b-field>
            <b-field
              label="Expire (seconds)"
              label-position="on-border"
              :message="keyExpiryDateMessage"
            >
              <b-numberinput v-model="newKeyExpiry" step="86400" min="0">
              </b-numberinput>
            </b-field>
            <b-field label="Comment" label-position="on-border" expanded>
              <b-input v-model="newKeyComment"></b-input>
            </b-field>
          </b-field>
          <b-field grouped>
            <b-field label="ECC curve" label-position="on-border">
              <template #message>
                <span
                  >Always choose a curve which can be considered
                  <a href="https://safecurves.cr.yp.to/" target="_blank"
                    >safe</a
                  >
                  (choose <b>curve25519</b> if unsure)</span
                >
              </template>
              <b-select placeholder="Select an ECC curve" v-model="newKeyCurve" expanded>
                <optgroup label="Safe">
                  <option value="curve25519">curve25519</option>
                  <option value="ed25519">ed25519</option>
                  <option value="brainpoolP512r1">brainpoolP512r1</option>
                </optgroup>
                <optgroup label="Unsafe">
                  <option value="p256">p256</option>
                  <option value="p384">p384</option>
                  <option value="p521">p521</option>
                  <option value="brainpoolP256r1">brainpoolP256r1</option>
                  <option value="brainpoolP384r1">brainpoolP384r1</option>
                </optgroup>
                <optgroup label="Not yet implemented">
                  <option value="secp256k1" disabled>secp256k1</option>
                </optgroup>
              </b-select>
            </b-field>
            <b-field
              label="Password"
              label-position="on-border"
              expanded
              message="You should always protect your private key with a strong password or, even better, you can use a passphrase"
            >
              <b-input
                v-model="newKeyPassword"
                type="password"
                value="iwantmytreasure"
                password-reveal
              >
              </b-input>
            </b-field>
          </b-field>
          <div class="buttons has-addons is-right">
            <b-field class="is-right">
              <b-button
                v-on:click="generateNewKeys('ecc')"
                :type="
                  newKeyPassword == '' ? 'is-danger' : 'is-primary is-light'
                "
                :icon-left="newKeyPassword == '' ? 'alert' : ''"
                :loading="loading"
              >
                Generate new
                {{ newKeyPassword == "" ? " unencryptyed " : "" }} pair of keys
              </b-button>
            </b-field>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item>
        <template #header>
          <span>
            Create new RSA PGP keys
            <b-tooltip label="Better compatibility" position="is-right">
              <b-icon icon="information-outline" size="is-small"></b-icon>
            </b-tooltip>
          </span>
        </template>
        <div class="card-content">
          <b-field grouped>
            <b-field label="Name" label-position="on-border" expanded>
              <b-input v-model="newKeyName"></b-input>
            </b-field>
            <b-field label="Email" label-position="on-border" expanded>
              <b-input v-model="newKeyEmail" type="email"></b-input>
            </b-field>
          </b-field>
          <b-field grouped>
            <b-field
              label="Start Date"
              label-position="on-border"
              message="Leave empty to use creation date/time"
            >
              <b-datetimepicker
                v-model="newKeyDate"
                placeholder="Select a date..."
                icon="calendar-today"
              >
              </b-datetimepicker>
              <p class="control">
                <b-button
                  type="is-light"
                  icon-right="backspace"
                  @click="newKeyDate = null"
                />
              </p>
            </b-field>
            <b-field
              label="Expire (seconds)"
              label-position="on-border"
              :message="keyExpiryDateMessage"
            >
              <b-numberinput v-model="newKeyExpiry" step="86400" min="0">
              </b-numberinput>
            </b-field>
            <b-field label="Comment" label-position="on-border" expanded>
              <b-input v-model="newKeyComment"></b-input>
            </b-field>
          </b-field>
          <b-field grouped>
            <b-field label="RSA key Length" label-position="on-border">
              <template #message>
                <span
                  >3072bit is current GnuPG
                  <a href="https://wiki.gnupg.org/LargeKeys" target="blank"
                    >standard</a
                  ></span
                >
              </template>
              <b-radio-button
                v-model="newKeyLength"
                disabled
                native-value="1024"
                type="is-warning is-light is-outlined"
              >
                <span>1024</span>
              </b-radio-button>

              <b-radio-button
                v-model="newKeyLength"
                native-value="2048"
                type="is-warning is-light is-outlined"
              >
                <span>2048</span>
              </b-radio-button>

              <b-radio-button
                v-model="newKeyLength"
                native-value="3072"
                type="is-success is-light is-outlined"
              >
                <span>3072</span>
              </b-radio-button>

              <b-radio-button
                v-model="newKeyLength"
                native-value="4096"
                type="is-success is-light is-outlined"
              >
                <span>4096</span>
              </b-radio-button>
              <b-radio-button
                v-model="newKeyLength"
                native-value="7168"
                type="is-success is-light is-outlined"
              >
                <span>7168</span>
              </b-radio-button>
            </b-field>
            <b-field
              label="Password"
              label-position="on-border"
              expanded
              message="You should always protect your private key with a strong password or, even better, you can use a passphrase"
            >
              <b-input
                v-model="newKeyPassword"
                type="password"
                value="iwantmytreasure"
                password-reveal
              >
              </b-input>
            </b-field>
          </b-field>
          <div class="buttons has-addons is-right">
            <b-field class="is-right">
              <b-button
                v-on:click="generateNewKeys('rsa')"
                :type="newKeyPassword == '' ? 'is-danger' : 'is-primary'"
                :icon-left="newKeyPassword == '' ? 'alert' : ''"
                :loading="loading"
              >
                Generate new
                {{ newKeyPassword == "" ? " unencryptyed " : "" }} key pair
              </b-button>
            </b-field>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item>
        <template #header>
          <span>
            Stored keys
            <b-tag v-if="keysStore.counter > 0" rounded style="font-size:0.6rem;">{{
              keysStore.counter
            }}</b-tag>
          </span>
        </template>
        <div class="card-content">
          <manage-stored-keys></manage-stored-keys>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import * as openpgp from "openpgp"
import ManageStoredKeys from "./ManageStoredKeys.vue"
import { mapStores } from "pinia"
import { useKeysStore } from "../stores/keysStore.js"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"

export default {
  name: "ManageKeysPage",
  data() {
    return {
      newKeyCurve: "curve25519",
      newKeyLength: "3072",
      newKeyName: "",
      newKeyEmail: "",
      newKeyComment: "",
      newKeyDate: null,
      newKeyExpiry: 0,
      newKeyExpiryMessage: "",
      newKeyPassword: "",
      loading: false,
    }
  },
  components: {
    ManageStoredKeys,
  },
  computed: {
    ...mapStores(useKeysStore, useActiveKeysStore),
    keyExpiryDateMessage() {
      if (this.newKeyExpiry == 0) {
        return "No expiry date set. This key will last forever."
      }
      var d
      if (this.newKeyDate !== null) {
        d = new Date(this.newKeyDate.getTime())
      } else {
        d = new Date()
      }
      d.setSeconds(d.getSeconds() + this.newKeyExpiry)
      return `Will expire on ${d.toISOString()}`
    },
  },
  methods: {
    selectAll(event) {
      event.target.select()
    },
    notify(message, type = "is-success", duration = 5000) {
      this.$emit("notify", message, type, duration)
    },
    async generateNewKeys(type) {
      var options = {
        userIDs: [
          {
            name: this.newKeyName,
            email: this.newKeyEmail,
            comment: this.newKeyComment,
          },
        ],
        passphrase: this.newKeyPassword,
        keyExpirationTime: this.newKeyExpiry,
        format: "object",
      }

      if (type == "ecc") {
        options["type"] = "ecc"
        options["curve"] = this.newKeyCurve
      } else if (type == "rsa") {
        options["type"] = "rsa"
        options["rsaBits"] = this.newKeyLength
      } else {
        this.$emit("notify", "Key type not yet available.", "is-danger")
      }

      if (this.newKeyDate !== null) {
        options.date = this.newKeyDate
      }
      this.loading = true
      try {
        const { privateKey, publicKey } = await openpgp.generateKey(options)
        // this.$emit("setPublicKey", publicKey)
        // this.$emit("setPrivateKey", privateKey)
        this.activeKeysStore.setPrivateKey(privateKey)
        this.activeKeysStore.setPublicKey(publicKey)
        await this.keysStore.add(publicKey, privateKey)
        this.$emit("notify", "Keys have been created, enjoy!")
      } catch (e) {
        this.$emit("notify", "Error while creating key.", "is-danger")
        console.log(e)
      } finally {
        // cleanup
        this.newKeyName =
          this.newKeyEmail =
          this.newKeyComment =
          this.newKeyPassword =
            ""
        this.newKeyExpiry = 0
        this.newKeyDate = null
        this.loading = false
      }
    },
  },
}
</script>

<style lang="scss">
.manage-keys-page {
  .b-tabs .tab-content {
    padding: 0;
  }
  .tabs li {
    // font-size: 80%;
  }
  .tabs.is-toggle li:first-child a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .tabs.is-toggle li:last-child a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .tabs.is-toggle li.is-active a {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #4a4a4a;
  }
}
</style>
