<template>
  <section>
    <b-field label="Select or search PGP key" label-position="on-border">
      <b-autocomplete
        :data="filteredStoredKeys"
        :open-on-focus="true"
        placeholder="e.g. davide@codref.org"
        field="label"
        v-model="selectedKeyLabel"
        @select="
          (option) => (currentAAKey = option != null ? option.publicKey : '')
        "
      >
        <template #header>
          <a @click="searchKeyActive = true">
            <span>Search on public key server... </span>
          </a>
        </template>
        <template #empty>No results for {{ selectedKeyLabel }}</template>
        <template slot-scope="props">
          <div>{{ props.option.label }}</div>
        </template>
      </b-autocomplete>
    </b-field>
    <b-modal
      v-model="searchKeyActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-label="Search"
      aria-modal
    >
      <template #default="props">
        <search-key-form
          :storedKeys="storedKeys"
          @close="props.close"
        ></search-key-form>
      </template>
    </b-modal>
    <b-tabs :animated="false">
      <b-tab-item label="Key">
        <b-field
          label="Paste here the PGP public key"
          label-position="on-border"
        >
          <b-input
            @focus="selectAll"
            v-model="currentAAKey"
            type="textarea"
            ref="currentAAKey"
            placeholder="Paste here your PGP public key (starts with -----BEGIN PGP PUBLIC KEY BLOCK-----)"
          ></b-input>
        </b-field>
      </b-tab-item>
      <b-tab-item label="Info" v-if="activeKeysStore.publicKey">
        <public-key-info-panel :currentKey="activeKeysStore.publicKey" />
      </b-tab-item>
      <b-tab-item label="Identity" v-if="activeKeysStore.publicKey">
        <public-key-identity-panel :publicKey="activeKeysStore.publicKey" />
      </b-tab-item>
    </b-tabs>
    <div class="buttons has-addons is-right">
      <b-button
        :disabled="!(activeKeysStore.publicKey != null)"
        @click="copyToClipboard($refs.currentAAKey.$el)"
        >Copy</b-button
      >
      <b-button
        :disabled="!(activeKeysStore.publicKey != null)"
        @click="downloadFromBrowser('public.key', currentAAKey)"
        >Download</b-button
      >
      <b-button :disabled="!(activeKeysStore.publicKey != null)" @click="onStoreOnBrowserClick"
        >Save on browser</b-button
      >
    </div>
  </section>
</template>

<script>
// import * as openpgp from "openpgp"
import SearchKeyForm from "./SearchKeyForm.vue"
import PublicKeyInfoPanel from "./PublicKeyInfoPanel.vue"
import PublicKeyIdentityPanel from "./PublicKeyIdentityPanel.vue"
import filesystemMixin from "../mixins/filesystemMixin.js"
import { mapStores } from "pinia"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"
import { useKeysStore } from "../stores/keysStore.js"

export default {
  name: "ManagePublicKeysPanel",
  mixins: [filesystemMixin],
  components: {
    SearchKeyForm,
    PublicKeyInfoPanel,
    PublicKeyIdentityPanel,
  },
  inject: ["notify"],
  data() {
    return {
      storedKeys: [],
      searchKeyActive: false,
      selectedKeyLabel: "",
      // currentKey: null,
      currentAAKey: "",
    }
  },
  // mounted() {
  //   if (localStorage.getItem("stored-keys.public")) {
  //     try {
  //       this.storedKeys = JSON.parse(localStorage.getItem("stored-keys.public"))
  //     } catch (e) {
  //       this.$emit(
  //         "notify",
  //         `Cannot retrieve the keys from browser's local storage.`,
  //         "is-danger"
  //       )
  //     }
  //   }
  // },
  watch: {
    "activeKeysStore.publicKey"(key) {
      if (key != null)
        this.currentAAKey = key.armor()
    },
    // storedKeys: function (keys) {
    //   try {
    //     const parsed = JSON.stringify(keys)
    //     localStorage.setItem("stored-keys.public", parsed)
    //   } catch (e) {
    //     this.$emit(
    //       "notify",
    //       `Cannot store the keys into browser's local storage.`,
    //       "is-danger"
    //     )
    //   }
    // },
    currentAAKey: async function (armoredKey) {
      this.activeKeysStore.setPublicAAKey(armoredKey)
    },
  },
  computed: {   
    ...mapStores(useKeysStore, useActiveKeysStore),
    filteredStoredKeys() {
      return this.keysStore.keys.filter((key) => {
        try {
          return (
            key.publicKey !== null &&
            key.label
              .toString()
              .toLowerCase()
              .indexOf(this.selectedKeyLabel.toLowerCase()) >= 0
          )
        } catch {
          return -1
        }
      })
    },
  },
  methods: {
    selectAll(event) {
      event.target.select()
    },
    async onStoreOnBrowserClick() {
      // search for duplicates
      // TODO inefficient
      for (const key of this.keysStore.keys) {
        if (this.activeKeysStore.publicKey.getKeyID().toHex() == key.id && key.publicKey != null) {
          if (key.isEphemeral) {
            this.activeKeysStore.toLocalStorage(false, true)
            this.notify(`Public key added to browser local storage`)
            key.isEphemeral = false
            return     
          } else {
            this.notify(`Public key already added to browser local storage`)
            return
          }
        }
      }
      this.activeKeysStore.toLocalStorage(false, true)
      this.notify(`Public key added to browser local storage`)
    },
    // async storeOnBrowser() {
    //   this.storedKeys.push({
    //     label: `${this.activeKeysStore.publicKey.getUserIDs()[0]} [0x${this.activeKeysStore.publicKey
    //       .getKeyID()
    //       .toHex()}]`,
    //     publicKey: this.activeKeysStore.publicKey.armor(),
    //     id: this.activeKeysStore.publicKey.getKeyID().toHex(),
    //     fingerprint: this.activeKeysStore.publicKey.getFingerprint(),
    //     algorithm: this.activeKeysStore.publicKey.getAlgorithmInfo(),
    //     created: this.activeKeysStore.publicKey.keyPacket.created,
    //     expires: await this.activeKeysStore.publicKey.getExpirationTime(),
    //     userIDs: this.activeKeysStore.publicKey.getUserIDs(),
    //   })
    //   this.$emit("notify", `Public key added to browser local storage`)
    // },
  },
}
</script>

<style scoped></style>
