<template>
  <section>
    <b-field position="is-right">
      <b-input
        placeholder="Search..."
        type="search"
        icon="magnify"
        v-model="search"
      ></b-input>
      <p class="control">
        <b-tooltip label="Reload keys from browser (undo all pending changes)">
          <b-button
            @click="onReloadButtonClick"
            icon-left="reload"
          />
        </b-tooltip>
      </p>
      <p class="control">
        <b-tooltip label="Export keys fo file">
          <b-button
            @click="downloadFromBrowser('pgp-keys.json', onExportKeysClick())"
            icon-left="export"
          />
        </b-tooltip>
      </p>      
      <p class="control">
        <b-tooltip label="Import keys from file">
          <b-upload v-model="keysFile" @input="onLoadKeysFromFileClick">
            <a class="button">
              <b-icon icon="upload"></b-icon>
            </a>
          </b-upload>
        </b-tooltip>
      </p>
      <p class="control">
        <b-button
          :disabled="keysStore.pendingChanges == false"
          label="Save all changes on browser"
          type="is-primary is-light"
          @click="onSaveAllClick"
        />
      </p>
    </b-field>

    <b-modal
      v-model="isUploadModalActive"
      has-modal-card
      aria-role="dialog"
      :destroy-on-hide="true"
      aria-label="Load keys from file"
      close-button-aria-label="Close"
      aria-modal
    >
      <template #default="props">
        <div class="modal-card" style="width: auto">
          <header class="modal-card-head">
            <p class="modal-card-title">Load keys from file</p>
            <button type="button" class="delete" @click="props.close" />
          </header>
          <section class="modal-card-body">
            <span
              >{{ uploadedKeys.length }} keys have been found in the uploaded
              file.<br />
            </span>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="props.close" />
            <b-button
              label="Replace all keys"
              type="is-primary is-light"
              @click="
                keysStore.keys = uploadedKeys
                keysStore.pendingChanges = true
                props.close()
              "
            />
            <b-button
              label="Add as new keys"
              type="is-primary is-light"
              @click="
                keysStore.keys = keysStore.keys.concat(uploadedKeys)
                keysStore.pendingChanges = true
                props.close()
              "
            />
          </footer>
        </div>
      </template>
    </b-modal>

    <b-table
      :data="filteredKeys"
      narrowed
      paginated
      pagination-size="is-small"
      per-page="25"
      class="manage-saved-keys-table"
    >
      <template #empty>
        <div class="has-text-centered p-5">No keys found!</div>
      </template>
      <b-table-column field="userIDs" label="User ID" v-slot="props" sortable>
        <span
          :class="
            props.row.isPublicKeyDeleted && props.row.isPrivateKeyDeleted
              ? 'deleted-key'
              : ''
          "
          >{{
            props.row.userIDs != undefined
              ? props.row.userIDs != ""
                ? Array.isArray(props.row.userIDs)
                  ? props.row.userIDs.join(", ")
                  : props.row.userIDs
                : "(empty)"
              : props.row.label.split(" [")[0]
          }}</span
        >
      </b-table-column>
      <b-table-column
        field="id"
        label="Key ID"
        v-slot="props"
        width="160"
        sortable
      >
        <b-field grouped group-multiline>
          <div class="control">
            <b-tooltip
              :active="props.row.fingerprint !== undefined"
              :label="props.row.fingerprint"
              position="is-right"
            >
              <span
                :class="
                  props.row.isPublicKeyDeleted && props.row.isPrivateKeyDeleted
                    ? 'deleted-key'
                    : ''
                "
                >{{ props.row.id }}</span
              >
            </b-tooltip>
            <b-tooltip
              label="This key is not saved!"
              position="is-right"
              v-if="props.row.isEphemeral"
            >
              <b-icon icon="alert" size="is-small" type="is-warning"></b-icon>
            </b-tooltip>
            <b-tooltip
              :label="getDeletionWarningMessage(props.row)"
              position="is-right"
              v-if="
                props.row.isPublicKeyDeleted || props.row.isPrivateKeyDeleted
              "
            >
              <b-icon
                icon="alert-circle"
                size="is-small"
                type="is-danger"
              ></b-icon>
            </b-tooltip>
          </div>
        </b-field>
      </b-table-column>
      <b-table-column label="" v-slot="props">
        <b-field grouped group-multiline>
          <div class="control">
            <b-taglist attached>
              <b-tag
                type="is-dark"
                v-if="props.row.publicKey && !props.row.isPublicKeyDeleted"
                >encrypt</b-tag
              >
              <b-tag
                type="is-info"
                v-if="props.row.privateKey && !props.row.isPrivateKeyDeleted"
                >decrypt/sign</b-tag
              >
            </b-taglist>
          </div>
          <div class="control" v-if="props.row.algorithm !== undefined">
            <b-taglist attached>
              <b-tag v-if="'curve' in props.row.algorithm">ECC</b-tag>
              <b-tag v-else>RSA</b-tag>
              <b-tag
                type="is-info is-light"
                v-if="'curve' in props.row.algorithm"
                >{{ props.row.algorithm.curve }}</b-tag
              >
              <b-tag type="is-info is-light" v-else>{{
                props.row.algorithm.bits
              }}</b-tag>
            </b-taglist>
          </div>
        </b-field>
      </b-table-column>
      <b-table-column field="created" label="Created" v-slot="props" sortable>
        {{ props.row.created }}
      </b-table-column>
      <b-table-column field="expires" label="Expires" v-slot="props" sortable>
        {{ props.row.expires }}
      </b-table-column>

      <b-table-column width="20">
        <template #header>
          <b-tooltip label="Selected public key" position="is-bottom">
            <b-icon icon="cloud-key-outline" size="mdi-18px"></b-icon>
          </b-tooltip>
        </template>
        <template v-slot="props">
          <b-radio
            v-model="activePublicKeyId"
            :disabled="!props.row.publicKey || props.row.isPublicKeyDeleted"
            :native-value="props.row.id"
            size="is-small"
            @input="onActivatePublicKey(props.row.publicKey, props.row.id)"
          ></b-radio>
        </template>
      </b-table-column>

      <b-table-column width="20">
        <template #header>
          <b-tooltip label="Selected private key" position="is-bottom">
            <b-icon icon="shield-key" size="mdi-18px"></b-icon>
          </b-tooltip>
        </template>
        <template v-slot="props">
          <b-radio
            v-model="activePrivateKeyId"
            :disabled="!props.row.privateKey || props.row.isPrivateKeyDeleted"
            :native-value="props.row.id"
            size="is-small"
            @input="onActivatePrivateKey(props.row.privateKey, props.row.id)"
          ></b-radio>
        </template>
      </b-table-column>

      <b-table-column v-slot="props" width="110">
        <b-button
          v-if="!props.row.isPrivateKeyDeleted && !props.row.isPublicKeyDeleted"
          type="is-text"
          size="is-small"
          @click="
            props.row.isPrivateKeyDeleted = props.row.isPublicKeyDeleted = true
            keysStore.pendingChanges = true
          "
        >
          <b-icon icon="trash-can-outline" size="mdi-18px"></b-icon>
        </b-button>
        <b-button
          v-else
          type="is-text"
          size="is-small"
          @click="
            props.row.isPrivateKeyDeleted = props.row.isPublicKeyDeleted = false
            keysStore.pendingChanges = true
          "
        >
          <b-icon icon="undo" size="mdi-18px"></b-icon>
        </b-button>
        <b-dropdown aria-role="list" position="is-bottom-left">
          <template #trigger>
            <b-button type="is-text" size="is-small">
              <b-icon icon="dots-horizontal" size="mdi-18px"></b-icon>
            </b-button>
          </template>

          <b-dropdown-item
            aria-role="listitem"
            :disabled="!props.row.privateKey || props.row.isPrivateKeyDeleted"
            @click="
              props.row.isPrivateKeyDeleted = true
              keysStore.pendingChanges = true
            "
            >Delete the private key</b-dropdown-item
          >
          <b-dropdown-item
            aria-role="listitem"
            :disabled="!props.row.publicKey || props.row.isPublicKeyDeleted"
            @click="
              props.row.isPublicKeyDeleted = true
              keysStore.pendingChanges = true
            "
            >Delete the public key</b-dropdown-item
          >
        </b-dropdown>
      </b-table-column>
    </b-table>
  </section>
</template>

<script>
// import * as openpgp from "openpgp"
import { mapStores } from "pinia"
import filesystemMixin from "../mixins/filesystemMixin.js"
import { useKeysStore } from "../stores/keysStore.js"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"

export default {
  name: "ManageStoredKeys",
  inject: ["notify"],
  mixins: [filesystemMixin],
  data() {
    return {
      keys: [],
      search: "",
      keysFile: null,
      isUploadModalActive: false,
      uploadedKeys: [],
      activePublicKeyId: "",
      activePrivateKeyId: "",
    }
  },
  mounted() {
    this.keysStore.fromLocalStorage()
  },
  watch: {
    "activeKeysStore.publicKey"(key) {
      if (key != null) this.activePublicKeyId = key.getKeyID().toHex()
      else {
        this.activePublicKeyId = ""
      }
    },
    "activeKeysStore.privateKey"(key) {
      if (key != null) this.activePrivateKeyId = key.getKeyID().toHex()
      else this.activePrivateKeyId = ""
    },
  },
  computed: {
    ...mapStores(useKeysStore, useActiveKeysStore),
    filteredKeys() {
      return this.keysStore.keys.filter((key) => {
        return (
          key.id.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
          (Array.isArray(key.userIDs) &&
            key.userIDs
              .join(",")
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1) ||
          (typeof key.userIDs === "string" &&
            key.userIDs.toLowerCase().indexOf(this.search.toLowerCase()) >
              -1) ||
          (typeof key.created === "string" &&
            key.created.toLowerCase().indexOf(this.search.toLowerCase()) >
              -1) ||
          (typeof key.expires === "string" &&
            key.expires.toLowerCase().indexOf(this.search.toLowerCase()) >
              -1) ||
          (key.expires instanceof Date &&
            key.expires.toISOString().indexOf(this.search.toLowerCase()) > -1)
        )
      })
    },
  },
  methods: {
    onReloadButtonClick() {
      this.keysStore.fromLocalStorage()
    },
    getDeletionWarningMessage(key) {
      if (key.isPublicKeyDeleted && key.isPrivateKeyDeleted) {
        return "Both public and private keys are going to be deleted at next browser sync"
      } else if (key.isPublicKeyDeleted) {
        return "Public key is going to be deleted at next browser sync"
      } else if (key.isPrivateKeyDeleted) {
        return "Private key is going to be deleted at next browser sync"
      }
    },
    onExportKeysClick() {
      return JSON.stringify(this.keysStore.keys, undefined, 4)
    },
    onLoadKeysFromFileClick() {
      const reader = new FileReader()
      reader.onload = (event) => {
        this.uploadedKeys = JSON.parse(event.target.result)
        for (const key of this.uploadedKeys) {
          key.isEphemeral = true
        }
        this.isUploadModalActive = true
      }
      reader.readAsText(this.keysFile)
    },
    onSaveAllClick() {
      try {
        this.keysStore.toLocalStorage()
        this.notify("Keys stored", "is-success")
      } catch (e) {
        console.log(e)
        this.notify(
          "Cannot store the keys into browser's local storage",
          "is-danger"
        )
      }
      // TODO implement a better method to refresh the data
      this.keysStore.fromLocalStorage()       
    },
    onActivatePublicKey(key, id) {
      this.activeKeysStore.setPublicAAKey(key)
      this.notify(`Public key ${id} loaded!`, "is-success")
    },
    onActivatePrivateKey(key, id) {
      this.activeKeysStore.setPrivateAAKey(key)
      this.notify(`Private key ${id} loaded!`, "is-success")
    },
  },
}
</script>

<style scoped>
a.dropdown-item {
  width: auto;
}
.deleted-key {
  text-decoration: line-through;
}
.ephemeral-key {
  font-style: italic;
}

.b-table .table th .th-wrap .icon {
  margin-left: 0;
}
</style>
