<template>
  <section>
    <b-field label="Select or search PGP key" label-position="on-border">
      <b-autocomplete
        :data="filteredStoredKeys"
        :open-on-focus="true"
        placeholder="e.g. davide@codref.org"
        field="label"
        v-model="selectedKeyLabel"
        @select="
          (option) => (currentAAKey = option != null ? option.privateKey : '')
        "
      >
        <template #empty>No results for {{ selectedKeyLabel }}</template>
        <template slot-scope="props">
          <div>{{ props.option.label }}</div>
        </template>
      </b-autocomplete>
    </b-field>
    <b-tabs :animated="false">
      <b-tab-item label="Key">
        <b-field
          label="Paste here the PGP private key"
          label-position="on-border"
        >
          <b-input
            @focus="selectAll"
            v-model="currentAAKey"
            type="textarea"
            ref="currentAAKey"
            placeholder="Paste here your PGP private key (starts with -----BEGIN PGP PRIVATE KEY BLOCK-----)"
          ></b-input>
        </b-field>
      </b-tab-item>
      <b-tab-item label="Info" v-if="activeKeysStore.privateKey">
        <public-key-info-panel :currentKey="activeKeysStore.privateKey" />
      </b-tab-item>
      <b-tab-item label="Identity" v-if="activeKeysStore.privateKey">
        <public-key-identity-panel :publicKey="activeKeysStore.privateKey" />
      </b-tab-item>
    </b-tabs>
    <div class="buttons has-addons is-right">
      <b-button
        :disabled="!(activeKeysStore.privateKey != null)"
        @click="copyToClipboard($refs.currentAAKey.$el)"
        >Copy</b-button
      >
      <b-button
        :disabled="!(activeKeysStore.privateKey != null)"
        @click="downloadFromBrowser('private.key', currentAAKey)"
        >Download</b-button
      >
      <b-button
        :disabled="!(activeKeysStore.privateKey != null)"
        @click="onStoreOnBrowserClick"
        >Save on browser</b-button
      >
    </div>
  </section>
</template>

<script>
// import * as openpgp from "openpgp"
import PublicKeyInfoPanel from "./PublicKeyInfoPanel.vue"
import PublicKeyIdentityPanel from "./PublicKeyIdentityPanel.vue"
import filesystemMixin from "../mixins/filesystemMixin.js"
import { mapStores } from "pinia"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"
import { useKeysStore } from "../stores/keysStore.js"

export default {
  name: "ManagePrivateKeysPanel",
  mixins: [filesystemMixin],
  components: {
    PublicKeyInfoPanel,
    PublicKeyIdentityPanel,
  },
  inject: ["notify"],
  data() {
    return {
      storedKeys: [],
      selectedKeyLabel: "",
      currentAAKey: "",
    }
  },
  mounted() {
    if (localStorage.getItem("stored-keys.private")) {
      try {
        this.storedKeys = JSON.parse(
          localStorage.getItem("stored-keys.private")
        )
      } catch (e) {
        this.$emit(
          "notify",
          `Cannot retrieve the keys from browser's local storage.`,
          "is-danger"
        )
      }
    }
  },
  watch: {
    "activeKeysStore.privateKey"(key) {
      if (key != null)
        this.currentAAKey = key.armor()
    },
    // storedKeys: function (keys) {
    //   try {
    //     const parsed = JSON.stringify(keys)
    //     localStorage.setItem("stored-keys.private", parsed)
    //   } catch (e) {
    //     this.$emit(
    //       "notify",
    //       `Cannot store the keys into browser's local storage.`,
    //       "is-danger"
    //     )
    //   }
    // },
    currentAAKey: async function (armoredKey) {
      this.activeKeysStore.setPrivateAAKey(armoredKey)
    },
  },
  computed: {
    ...mapStores(useKeysStore, useActiveKeysStore),
    filteredStoredKeys() {
      return this.keysStore.keys.filter((key) => {
        try {
          return (
            key.privateKey !== null &&
            key.label
              .toString()
              .toLowerCase()
              .indexOf(this.selectedKeyLabel.toLowerCase()) >= 0
          )
        } catch {
          return -1
        }
      })
    },
  },
  methods: {
    selectAll(event) {
      event.target.select()
    },
    async onStoreOnBrowserClick() {
      // search for duplicates
      // TODO inefficient
      for (const key of this.keysStore.keys) {
        if (this.activeKeysStore.privateKey.getKeyID().toHex() == key.id && key.privateKey != null) {
          if (key.isEphemeral) {
            this.activeKeysStore.toLocalStorage(true, false)
            this.notify(`Private key added to browser local storage`)
            key.isEphemeral = false
            return     
          } else {
            this.notify(`Private key already added to browser local storage`)
            return
          }
        }
      }
      this.activeKeysStore.toLocalStorage(true, false)
      this.notify(`Private key added to browser local storage`)
    },  
    // async storeOnBrowser() {
    //   const checkID = (key) =>
    //     key.id === this.activeKeysStore.privateKey.getKeyID().toHex()
    //   if (!this.storedKeys.some(checkID)) {
    //     this.storedKeys.push({
    //       label: `${
    //         this.activeKeysStore.privateKey.getUserIDs()[0]
    //       } [0x${this.activeKeysStore.privateKey.getKeyID().toHex()}]`,
    //       id: this.activeKeysStore.privateKey.getKeyID().toHex(),
    //       privateKey: this.activeKeysStore.privateKey.armor(),
    //       fingerprint: this.activeKeysStore.privateKey.getFingerprint(),
    //       algorithm: this.activeKeysStore.privateKey.getAlgorithmInfo(),
    //       created: this.activeKeysStore.privateKey.keyPacket.created,
    //       expires: await this.activeKeysStore.privateKey.getExpirationTime(),
    //       encrypted: !this.activeKeysStore.privateKey.isDecrypted(),
    //       userIDs: this.activeKeysStore.privateKey.getUserIDs(),
    //     })
    //     this.$emit("notify", `Private key added to browser local storage`)
    //   } else {
    //     this.$emit("notify", `Private key already saved`)
    //   }
    // },
  },
}
</script>

<style scoped></style>
