<template>
  <section>
      <b-table v-if="publicKey !== null" :data="publicKey.users" narrowed>
        <b-table-column field="userID.name" label="Name" v-slot="props">
          {{ props.row.userID.name != '' ? props.row.userID.name : '(empty)' }}
        </b-table-column>
        <b-table-column field="userID.email" label="Email" v-slot="props">
          {{ props.row.userID.email != '' ? props.row.userID.email : '(empty)'}}
        </b-table-column>
        <b-table-column field="userID.comment" label="Comment" v-slot="props">
          {{ props.row.userID.comment != '' ? props.row.userID.comment : '(empty)' }}
        </b-table-column>
        <b-table-column field="userID.userid" label="UserID" v-slot="props">
          {{ props.row.userID.userID != '' ? props.row.userID.userID : '(empty)' }}
        </b-table-column>      
      </b-table>
  </section>
</template>

<script>
export default {
  name: "PublicKeyIdentityPanel",
  props: ["publicKey"],
}
</script>

<style scoped></style>

