<template>
  <section>
    <b-field horizontal label="Fingerprint">{{ currentKey.getFingerprint() }}</b-field>
    <b-field horizontal label="Key ID">{{ currentKey.keyPacket.keyID.toHex() }}</b-field>
    <b-field horizontal label="Created">{{ currentKey.keyPacket.created }}</b-field>
    <b-field horizontal label="Expires">{{ expirationTime }}</b-field>
    <b-field horizontal label="Type">{{ currentKey.getAlgorithmInfo().algorithm }} {{ currentKey.getAlgorithmInfo().curve }} - {{ currentKey.getAlgorithmInfo().bits }} </b-field>
    <b-field horizontal v-if="currentKey.isPrivate()" label="Encrypted">
      <b-tag :type="currentKey.isDecrypted() ? 'is-warning' : 'is-success'">
        {{ !currentKey.isDecrypted() }}
      </b-tag>
    </b-field>
  </section>
</template>

<script>
export default {
  name: "PublicKeyInfoPanel",
  props: ["currentKey"],
  data() {
    return {
      expirationTime: ''
    }
  },
  created: async function () {
    this.getExpirationTime(this.currentKey)
  },  
  watch: { 
    currentKey:  async function(key) { 
      this.getExpirationTime(key)
    }
  },
  methods: {
    getExpirationTime: async function(key) {
      this.expirationTime = await key.getExpirationTime()
    }
  }
}
</script>

<style scoped></style>

