<template>
  <div class="modal-card" style="width: auto; min-width: 600px">
    <header class="modal-card-head">
      <p class="modal-card-title">Search key on public server</p>
      <button type="button" class="delete" @click="$emit('close')" />
    </header>
    <section class="modal-card-body">
      <div class="description">
        One of the advatages of PGP is that the public key is not secret, and can (should!) be uploaded on public key servers like 
        <a href="https://keys.openpgp.org">keys.openpgp.org</a>. You can use the below field to query the public database and fetch a PGP 
        public key starting from a known email address. 
      </div>
      <b-field grouped>
        <b-field>
          <b-select v-model="searchType">
            <option value="by-email">Email</option>
            <option value="by-keyid">KeyID</option>
            <option value="by-fingerprint">Fingerprint</option>
          </b-select>
        </b-field>
        <b-field
          label="Search..."
          label-position="on-border"
          :type="searchMessageType"
          :message="searchErrorMessage"
          expanded
        >
          <b-input
            expanded
            type="search"
            v-model="searchText"
            v-on:keyup.enter.native="searchOnKeyServer"
            placeholder="type here the name or email address"
          ></b-input>

          <b-button
            class="button is-primary"
            @click="searchOnKeyServer"
            :loading="searchLoading"
            >Search</b-button
          >
        </b-field>
      </b-field>
      <b-table 
        :data="retrievedKeys" 
        :columns="columns"
        :selected.sync="selectedKey" focusable>
      </b-table>
    </section>
    <footer class="modal-card-foot">
      <b-button label="Close" @click="$emit('close')" />
      <b-button label="Add" type="is-primary" @click="addKey"/>
    </footer>
  </div>
</template>

<script>
import * as openpgp from "openpgp"

export default {
  name: "SearchKeyForm",
  props: [
    'storedKeys'
  ],
  data() {
    return {
      searchType: "by-email",
      searchText: "",
      searchMessageType: "",
      searchErrorMessage: "",
      searchLoading: false,
      retrievedKeys: [],
      selectedKey: {},
      columns: [
        {
          field: "id",
          label: "Key ID",
        },
        {
          field: "userID",
          label: "User ID",
        },
        {
          field: "email",
          label: "Email",
        },        
        {
          field: "expires",
          label: "Expires",
        },
        {
          field: "algorithm",
          label: "Algorithm",
        },
      ],
    }
  },
  methods: {
    async searchOnKeyServer() {
      try {
        this.searchLoading = true
        const { data } = await this.$http.get(`https://keys.openpgp.org/vks/v1/${this.searchType}/${encodeURI(this.searchText)}`)
        if (data == undefined || data.length == 0) {
          this.searchErrorMessage = `No key found.`
          return
        }
        try {
          const keys = await openpgp.readKeys({
            armoredKeys: data,
          })
          await keys.forEach(async (key) => {
            var expires = await key.getExpirationTime()
            var k = {
              id: `0x${key.getKeyID().toHex()}`,
              fingerprint: key.getFingerprint(),
              algorithm: key.keyPacket.algorithm,
              created: key.keyPacket.created,
              expires: expires
            }
            key.users.forEach((user) => {
              k["name"] = user.userID.name
              k["email"] = user.userID.email
              k["comment"] = user.userID.name
              k["userID"] = user.userID.userID
              k["label"] = `${user.userID.userID} [0x${key.getKeyID().toHex()}]`,
              k["publicKey"] = key.armor()
              this.retrievedKeys.push(k)
            })
          })
          this.searchErrorMessage = ""
        } catch (e) {
          this.searchErrorMessage = `Error while parsing keys from keys.openpgp.org server. Open the console for further info.`
          console.log(e)
        }
      } catch (e) {
        if (e.response) {
          if (e.response.status == 404) {
            this.searchErrorMessage = `No key found.`
          } else if (e.response.status == 400) {
            this.searchErrorMessage = `Bad request, check the format of the searched text`
          }
        } else {
          this.searchErrorMessage = `Cannot fetch keys from keys.openpgp.org [${e}]`
        }
        console.log(e)
        return
      } finally {
        this.searchLoading = false
      }
    },
    addKey() {
      this.storedKeys.push(this.selectedKey)
      this.$emit('close')
    },
  },
}
</script>

<style scoped>
.description {
  margin: 1em 0.5em;
}
</style>
