<template>
  <div>
    <div class="columns">
      <div class="column">
        <b-collapse v-model="openPublicPanel" class="card" animation="slide" aria-id="pgp-public-key">
          <template #trigger="props">
            <div
              class="card-header"
              role="button"
              aria-controls="pgp-public-key"
            >
              <p class="card-header-title">
                <b-tooltip v-if="activeKeysStore.publicKeyStatus == 'missing'" position="is-right" label="No key loaded yet!">
                  <b-icon icon="alert-box" type="is-warning"></b-icon>
                </b-tooltip>
                <b-tooltip v-if="activeKeysStore.publicKeyStatus == 'wrong'" position="is-right" 
                  label="This is a Private key, paste here the Public one!">
                  <b-icon icon="alert-circle" type="is-danger"></b-icon>
                </b-tooltip>                
                <b-tooltip v-if="activeKeysStore.publicKeyStatus == 'error'" position="is-right" :label="activeKeysStore.publicKeyError">
                  <b-icon icon="alert-circle" type="is-danger"></b-icon>
                </b-tooltip>
                <b-tooltip v-if="activeKeysStore.publicKeyStatus == 'ok'" position="is-right" label="Key loaded, you can now encrypt!">
                  <b-icon icon="check-circle" type="is-success"></b-icon>
                </b-tooltip>                        
                PGP Public key
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
              </a>
            </div>
          </template>

          <div class="card-content">
            <manage-public-keys-panel 
              @notify="notify"
               />
          </div>
        </b-collapse>
      </div>
      <div class="column">
        <b-collapse v-model="openPrivatePanel" class="card" animation="slide" aria-id="pgp-private-key">
          <template #trigger="props">
            <div
              class="card-header"
              role="button"
              aria-controls="pgp-private-key"
            >
              <p class="card-header-title">
                <b-tooltip v-if="activeKeysStore.privateKeyStatus == 'missing'" position="is-right" label="No key loaded yet!">
                  <b-icon icon="alert-box" type="is-warning"></b-icon>
                </b-tooltip>
                <b-tooltip v-if="activeKeysStore.privateKeyStatus == 'wrong'" position="is-right"
                  label="This is a Public key, paste here the Private one!">
                  <b-icon icon="alert-circle" type="is-danger"></b-icon>
                </b-tooltip>
                <b-tooltip v-if="activeKeysStore.privateKeyStatus == 'error'" position="is-right" :label="activeKeysStore.privateKeyError">
                  <b-icon icon="alert-circle" type="is-danger"></b-icon>
                </b-tooltip>                
                <b-tooltip v-if="activeKeysStore.privateKeyStatus == 'ok'" position="is-right" label="Key loaded, you can now decrypt!">
                  <b-icon icon="check-circle" type="is-success"></b-icon>
                </b-tooltip>
                <b-tooltip v-if="activeKeysStore.privateKeyStatus == 'ok-mismatch'" position="is-right" label="Key loaded, you can now decrypt, although this key ID does not match the Public one">
                  <b-icon icon="check-circle" type="is-warning"></b-icon>
                </b-tooltip>                                
                PGP Private key
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
              </a>
            </div>
          </template>

          <div class="card-content">
            <manage-private-keys-panel 
              @notify="notify"
            />
          </div>
        </b-collapse>
      </div>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import ManagePublicKeysPanel from "./ManagePublicKeysPanel.vue"
import ManagePrivateKeysPanel from "./ManagePrivateKeysPanel"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"

export default {
  name: "SelectKeysPanel",
  props: [
    "openPanels"
  ],
  components: {
    ManagePublicKeysPanel,
    ManagePrivateKeysPanel,
  },
  data() {
    return {
      openPublicPanel: true,
      openPrivatePanel: true,
      currentPublicKeyAscii: "",
      currentPublicKeyStatus: "missing",
      currentPublicKeyStatusError: "",
      currentPrivateKeyAscii: "",
      currentPrivateKeyStatus: "missing",
      currentPrivateKeyStatusError: ""
    }
  },
  watch: {
    'activeKeysStore.publicKey'(key) {
      if (key != null)
        this.currentPublicKeyAscii = key.armor()
    },
    'activeKeysStore.privateKey'(key) {
      if (key != null)
        this.currentPrivateKeyAscii = key.armor()
    },      
  },
  computed: {
    ...mapStores(useActiveKeysStore)
  },  
  methods: {
    selectAll(event) {
      event.target.select()
    },
    notify(message, type = "is-success", duration = 5000) {
      this.$emit('notify', message, type, duration);
    },
    setPrivateKey(key, status, error) {
      this.currentPrivateKeyStatus = status
      this.currentPrivateKeyStatusError = error
      // emit set on parent
      this.$emit('setPrivateKey', key);  
    },
    collapseKeyPanels(collapsed) {
      this.openPublicPanel = this.openPrivatePanel = !collapsed
    }
  },
}
</script>

<style scoped>

</style>
