<template>
  <section>
    <div class="intro-text">
      You can now use your private key to sign some text. Insert the
      plain text into the below textbox and click the Sign button. Attach the signature
      in a message - the recipient will be able to verify the signature (signature verification is not yet implemented)
    </div>    
    <b-collapse :open="false" class="card" animation="slide" aria-id="encryptIdenties">
      <template #trigger="props">
        <div class="card-header" role="button" aria-controls="encryptIdenties">
          <p class="card-header-title">
            Signing message using {{ firstIdentity }} identity
          </p>
          <a class="card-header-icon">
            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
          </a>
        </div>
      </template>

      <div class="card-content">
        <div class="content">
          <public-key-identity-panel :publicKey="activeKeysStore.privateKey" />
        </div>
      </div>
    </b-collapse>
    <div class="plain-message-container">
      <b-tabs :animated="false" v-model="activeMessageTab">
        <b-tab-item label="Plain message">
          <b-field label="Message" label-position="on-border">
            <b-input
              v-model="plainTextMessage"
              type="textarea"
              expanded
            ></b-input>
          </b-field>
          <div class="buttons has-addons is-right">
              <b-button 
                :disabled="!(plainTextMessage != '') || activeKeysStore.privateKey == null" 
                v-on:click="passwordDialogActive = true" 
                type="is-primary"
                :loading="loading"
              >
                Sign
              </b-button>
          </div>          
        </b-tab-item>
        <b-tab-item label="Signed message">
          <b-field
            label="Copy and paste this text into a new email/text message"
            label-position="on-border"
          >
            <b-input
              v-model="encryptedMessage"
              type="textarea"
              ref="encryptedMessage"
              readonly
              expanded
            ></b-input>
          </b-field>
          <div class="buttons has-addons is-right">
            <b-button :disabled="!(encryptedMessage != '')" @click="copyToClipboard($refs.encryptedMessage.$el)">Copy</b-button>            
            <b-button :disabled="!(encryptedMessage != '')" @click="downloadFromBrowser('signed-message.txt', encryptedMessage)"
              >Download</b-button
            >
          </div>          
        </b-tab-item>        
      </b-tabs>
    </div>
    <b-modal
      v-model="passwordDialogActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="true"
      aria-role="dialog"
      aria-label="Password"
      aria-modal
    >
      <template #default="props">
        <div class="modal-card" style="width: auto; min-width: 600px">
          <header class="modal-card-head">
            <p class="modal-card-title">Key password</p>
            <button type="button" class="delete" @click="props.close" />
          </header>
          <section class="modal-card-body">
            <b-field label="Password" label-position="on-border">
              <b-input v-model="password" type="password" password-reveal>
              </b-input>
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button label="Close" @click="props.close" />
            <b-button label="Sign" type="is-primary" @click="sign"/>
          </footer>
        </div>
      </template>
    </b-modal>
  </section>
</template>

<script>
import * as openpgp from "openpgp"
import PublicKeyIdentityPanel from "./PublicKeyIdentityPanel.vue"
import filesystemMixin from "../mixins/filesystemMixin.js"
import { mapStores } from "pinia"
import { useActiveKeysStore } from "../stores/activeKeysStore.js"


export default {
  name: "SignPage",
  mixins: [filesystemMixin],
  components: {
    PublicKeyIdentityPanel
  },
  data() {
    return {
      timeleft: 0,
      activeMessageTab: 0,
      plainTextMessage: "",
      encryptedMessage: "",
      passwordDialogActive: false,
      password: "",
      loading: false
    }
  },
  computed: {
    ...mapStores(useActiveKeysStore),
    firstIdentity() {
      if (this.activeKeysStore.privateKey !== null) {
        const userId = this.activeKeysStore.privateKey.users[0].userID.userID
        return `${userId != "" ? userId : "(empty)"}`
      }
      return ""
    },
  },
  methods: {
    async sign() {
      var decryptedKey = this.activeKeysStore.privateKey
      if (!this.activeKeysStore.privateKey.isDecrypted()) {
        this.loading = true
        try {
          decryptedKey = await openpgp.decryptKey({
            privateKey: this.activeKeysStore.privateKey,
            passphrase: this.password,
          })
        } catch {
          this.$emit('notify', 'Wrong password', 'is-warning')
          return
        } finally {
          this.password = "" // remove password from browser memory
          this.loading = false
        }
      }
      this.passwordDialogActive = false
      this.signMessage(decryptedKey)
    },
    async signMessage(key) {
      // openpgp.config.ignore_mdc_error=true
      // openpgp.config.allow_insecure_decryption_with_signing_keys = true
      this.loading = true
      try {
        var unsignedMessage =  await openpgp.createMessage({
            text: this.plainTextMessage,
            format: 'utf8'
          })
      } catch (e) {
        this.$emit('notify', 'Error, cannot process message.', 'is-danger')
        console.log(e)
        this.loading = false
        return
      }
      try {
        const cleartextMessage = await openpgp.sign({
          message: unsignedMessage, // CleartextMessage or Message object
          signingKeys: [key] // for signing
        });
        this.encryptedMessage = cleartextMessage
        this.activeMessageTab = 1 
      } catch (e) {
        this.$emit('notify', 'Error while decrypting.<br />Please check the private key.', 'is-danger')
        console.log(e)
        return
      } finally {
        this.loading = false
      }
    },
  },
}
</script>

<style scoped>
</style>
