<template>
  <div id="app">
    <select-keys-panel
      @notify="notify"
      ref="selectKeyPanel"
    />
    <b-tabs
      style="margin-top: 1rem"
      :animated="false"
      v-model="activeTab"
      @input="changeActiveTab"
      class="main-tab"
    >
      <b-tab-item label="Key Management" icon="key">
        <ManageKeysPage
          @notify="notify"
        />
      </b-tab-item>
      <b-tab-item label="Encrypt" icon="lock">
        <encrypt-page
          @notify="notify"
          :minifyURL="minifyUrl"
          :baseURL="baseUrl"
        />
      </b-tab-item>
      <b-tab-item label="Decrypt" icon="lock-open-variant">
        <decrypt-page
          @notify="notify"
          :urlEncryptedMessage="urlEncryptedMessage"
        />
      </b-tab-item>
      <b-tab-item label="Sign" icon="draw">
        <sign-page @notify="notify" />
      </b-tab-item>
    </b-tabs>

    <div
      style="
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 1em;
        max-width: 40%;
        min-width: 20%;
        z-index: 99;
      "
    >
      <b-notification
        v-model="notifyActive"
        aria-close-label="Close notification"
        :type="notifyType"
        has-icon
        position="is-bottom-right"
        :message="notifyMessage"
        :duration="notifyDuration"
        :auto-close="true"
        :closable="true"
      />
    </div>
  </div>
</template>

<script>
import Buefy from "buefy"
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"
import ManageKeysPage from "./components/ManageKeysPage.vue"
import EncryptPage from "./components/EncryptPage.vue"
import DecryptPage from "./components/DecryptPage.vue"
import SignPage from "./components/SignPage.vue"
import SelectKeysPanel from "./components/SelectKeysPanel.vue"

Vue.use(Buefy)
Vue.use(VueAxios, axios)

export default {
  name: "App",
  components: {
    SelectKeysPanel,
    ManageKeysPage,
    EncryptPage,
    DecryptPage,
    SignPage,
  },
  props: ["minifyUrl", "baseUrl"],
  data() {
    return {
      activeTab: 0,
      urlEncryptedMessage: "",
      notifyActive: false,
      notifyMessage: "",
      notifyType: "is-success",
      notifyDuration: 5000,
    }
  },
  provide() {
    return {
      notify: this.notify,
    };
  },  
  mounted() {
    const fontImport = document.createElement("link")
    this.setAttributes(fontImport, [
      {
        name: "href",
        value:
          "https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css",
      },
      { name: "rel", value: "stylesheet" },
    ])
    document.head.appendChild(fontImport)

    window.onhashchange = this.hashRoute
    this.hashRoute() // execute at least once
  },
  methods: {
    notify(message, type = "is-success", duration = 5000) {
      this.notifyDuration = duration
      this.notifyType = type
      this.notifyMessage = message
      this.notifyActive = true
    },
    setAttributes(elem, attrs) {
      attrs.forEach((attr) => {
        elem.setAttribute(attr.name, attr.value)
      })
    },
    hashRoute() {
      const shortHash = window.location.hash.substring(0, 32)
      // there is an encrypted message in the URL
      if (shortHash.startsWith("#decryptMessage=")) {
        this.activeTab = 2 // decrypt
        this.urlEncryptedMessage = window.atob(
          window.location.hash.substring(16)
        )
      }
    },
    changeActiveTab(tabID) {
      if (tabID > 0) {
        this.$refs.selectKeyPanel.collapseKeyPanels(true)
      } else {
        this.$refs.selectKeyPanel.collapseKeyPanels(false)
      }
    },
  },
}
</script>

<style lang="scss">
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css");
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #b71c1c;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

button {
  height: unset !important;
}
.delete {
  width: unset;
  min-width: 14px;
}
.plain-message-container {
  margin-top: 2em;
}
.intro-text {
  margin: 1em;
}
.hidden-textarea {
  position: fixed;
  top: 0;
  left: -90000px;
}
.collapse.card {
  overflow: unset;
}
.description {
  margin: 1em 0.5em;
}
.main-tab > .tab-content {
  padding: 0;
}

.main-tab > .tabs ul {
  border-bottom-width: 5px;
}

.main-tab > .tabs a {
  margin-bottom: -5px;
  border-bottom-width: 5px;
}

.table td, .table th {
  vertical-align: middle;
}

.manage-saved-keys-table tbody tr td:last-child {
  text-align: right;
}
</style>
